*,
*::before,
*::after {
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

:root {
  --main-text-color:#fff;
}

.container {
  margin: auto;
}

header {
  width: 100%;
  margin: auto;
}
header .navcolor {
  width: 100%;
  background-color: #007878;
}
header .container {
  width: 112.8rem;
}
header .container .nav_top {
  background-color: #007878;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 4.8rem;
}
header .container .nav_top .phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.6rem;
}
header .container .nav_top .phone p {
  color: white;
}
header .container .nav_top .phone img {
  width: 2.4rem;
  height: 2.4rem;
}
header .container .service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
header .container .service div:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 1.6rem;
}
header .container .service div a {
  color: white;
}
header .container .navtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header .container .navtop .logo h1 {
  font-weight: 15.6rem;
  font-size: 4rem;
}
header .container .navtop .logo h1 a {
  color: black;
}
header .container .navtop .inp {
  width: 50.4rem;
  height: 4.8rem;
  border: 2px solid rgb(236, 81, 228);
  position: relative;
}
header .container .navtop .inp input {
  padding: 1.4rem 1.6rem;
  outline: none;
  border: none;
}
header .container .navtop .abc {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
header .container .navtop .img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.6rem;
}
header .container .navbottom ul {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 6rem;
}
header .container .navbottom ul li a {
  font-size: 1.6rem;
  font-weight: 400;
}

#reklam {
  margin: 2rem 0 0;
  width: 100%;
  height: 58.4rem;
  background: #FFE2E0;
  position: relative;
}
#reklam .reklam_text {
  position: absolute;
  left: 25rem;
}
#reklam .reklam_text p {
  position: absolute;
  width: 20rem;
  top: 10rem;
  color: #DF4244;
  font-size: 2.4rem;
  font-weight: 500;
}
#reklam .reklam_text h1 {
  position: absolute;
  top: 12rem;
  font-weight: 700;
  font-size: 4rem;
  width: 41rem;
}
#reklam .reklam_text .span {
  position: absolute;
  top: 20rem;
  width: 41.3rem;
  height: 8.1rem;
}
#reklam .reklam_text button {
  position: absolute;
  top: 35rem;
  background-color: #007878;
  width: 19.2rem;
  height: 5.2rem;
  border-radius: 0.8rem;
  left: 2.1rem;
}
#reklam .reklam_text .space_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
#reklam .reklam_text .space {
  position: absolute;
  top: 45rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: white;
}
#reklam .reklam_text .spacee {
  position: absolute;
  top: 45rem;
  left: 3rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: white;
}
#reklam .reklam_text .spacewid {
  position: absolute;
  top: 45rem;
  width: 3rem;
  height: 1rem;
  background-color: orangered;
  border-radius: 100%;
  left: 6rem;
}
#reklam .reklam_image {
  position: absolute;
  top: 5rem;
  right: 15rem;
  gap: 0px;
}
#reklam .reklam_image img {
  width: 642px;
  height: 535px;
}

.container .delivery {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8rem;
  background: #F7F7F7;
}

.container .bags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container .bag {
  width: 26rem;
  height: 17rem;
}/*# sourceMappingURL=main.css.map */